<div style="height: 100vh; margin: 100px;">
  <div style="text-align: center; font-size: 100px;">
    あなたのブスレベルは
  </div>
  <div style="text-align: center; font-size: 100px;">
    <%= @busu_level %>％
  </div>
</div>